<!doctype html>
<% include partials/header2%>
<html>
  <head>
    <title>Sample chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #video{ background: rgb(0, 0, 0); border: none; padding: 10px;margin: 0px 0px 10px 50px;  }
      .scrollview{width: 100%;
  
    padding: 20px;height: 400px;overflow-y: scroll;      }
         #video2{ background: white; border: none; padding: 0px; margin: 0px 0px 10px 500px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #videoicon {margin: 0px 0px 0px 10px; }
    </style>
  </head>
  <body>
 <div class="videocall">
  
  <video autoplay=true id="video" height="400px" width="400px"><%=username%></video>
  
  <video autoplay="true" id="video2" height="400px" width="400px"><%=otheruser%></video>
  <button id="answer" style="display:none">answer</button>

</div>
<h1 id="u" hidden> <%=JSON.stringify(username)%> </h1>
<h1 id="n" hidden> <%=JSON.stringify(room)%> </h1>
 <h1 id="o" hidden> <%=JSON.stringify(otheruser)%> </h1>    
 <h1 id="j" hidden> <%=JSON.stringify(user)%> </h1>  
 <div class="scrollview">
    <ul id="messages" >
       
      
    <%messages.forEach(function(msg){%>
        <li class="ui large header " style=" width: 100%;">
          <span>
            <%=msg.handle%>
            <span>:</span>
            
            
          </span>
              <%=msg.message%>  
               <!--<%=msg.handle%>-->
            <div style="text-align: right;  width: 500px;"><h5><%=msg.timestamp%></h5></div>    
        </li>
     
        
        
        
        <% }); %>
        
        
    </ul>
    </div>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button><button id="videoicon" onclick="func()"><i class="video icon"></i></button>
    </form>

<script src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>

//   function func(){
    
//   var name = JSON.parse($('#n').text());
//   var socket = io('',{query: 'room='+name});
//   var user = JSON.parse($('#u').text());
//   var id = JSON.parse($('#j').text());
//     var otheruser = JSON.parse($('#o').text());
//     var call_room = name+otheruser;
//   var vid_room= name+id;
 
//   var video= document.getElementById('video')
//   var video2= document.getElementById('video2')
//   var answer= document.getElementById('answer')
//     var videoicon= document.getElementById('videoicon')

// var peer = new Peer(vid_room)

//     var conn = peer.connect(call_room);
//     // on open will be launch when you successfully connect to PeerServer
//     conn.on('open', function(err){
//       if (err) console.log(err);
//       // here you have conn.id
//       console.log('made it here');
//       conn.send('hi!');
      
      
//       videoicon.style.backgroundColor = "red";
//     });

//     peer.on('connection', function(conn) {
//       conn.on('data', function(data){
//         // Will print 'hi!'
//             videoicon.style.backgroundColor = "red";
//         console.log(data);
//       });
//     });
    
// navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
//   navigator.getUserMedia({video: true, audio: true}, function(stream) {
//     var call = peer.call(call_room, stream);
//     call.on('stream', function(remoteStream) {
//       video.srcObject=remoteStream;
// videoicon.style.backgroundColor = "red";
   
//     });
//   }, function(err) {
//     console.log('Failed to get local stream' ,err);
//   });

//   navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
//   peer.on('call', function(call) {
//     navigator.getUserMedia({video: true, audio: true}, function(stream) {
//       call.answer(stream); // Answer the call with an A/V stream.
//       call.on('stream', function(remoteStream) {
//         video.srcObject=remoteStream;
//         videoicon.style.backgroundColor = "red";
//       });
//     }, function(err) {
//       console.log('Failed to get local stream' ,err);
//     });
//   });
  
  
     
  // }
  
    $(function () {
       var name = JSON.parse($('#n').text());
      var socket = io('',{query: 'room='+name});
        var user = JSON.parse($('#u').text());;
          var datetime
     
      $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
      datetime=new Date().toLocaleString().split(',').join("");
        var arr=[$('#m').val(), name,user,datetime];
        var msg= $('#m').val()
        socket.emit('chat message', arr);
        socket.emit('room', name);
    
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        // $( "#nm" ).remove();
        var date=new Date().toLocaleString().split(',').join("");
        var txt = '<li   class="ui large header" style=" width: 100%;">'+ msg[2]+  " : " + msg[0] + '<div id="date" style=" width: 500px; text-align: right;"><h5>'+date + "</h5></div>" +"</li>"
        console.log(txt);
        $('#messages').append(txt);
        // $('#nm').append($('<div id="date" class="ui tiny header">').text();
        
        console.log("chatuser"+user);
          $('#messages').animate({scrollTop: $('#messages').prop("scrollHeight")}, 500);
      });
    });
  </script>
  </body>
</html>
