<% include partials/header2%>

<div class="ui grid" >
  
  <div class=" six wide column">
      
        <img class="ui container fluid image" src="/uploads/<%=userclicked.image[0]%>">  
        
       <div class="container" style="margin:10px 10px 10px 10px;" >
           
           <div class="ui large header"><%=userclicked.name%></div>
           <div class="ui medium header">Age: <span><%=userclicked.age%></span></div>
            <div class="ui medium header">Gender: <span><%=userclicked.gender%></span></div>
              <div class="ui medium header">Height: <span><%=parseInt(userclicked.height/30)%></span>'<span><%=parseInt((parseInt(userclicked.height)-parseInt(parseInt(userclicked.height/30)*30))*0.39)%></span> "  </div>
            <div class="ui medium header">Ethnicity: <span ><%=userclicked.ethnicity%></span></div>
             <div class="ui medium header">Bodytype: <span ><%=userclicked.bodytype%></span></div>
             <% if(userclicked.isPremium) {%>
             <div>
   <div>
   <form action="/chat" method="POST">
       
       <input name="clickeduser" value="<%=userclicked.id%>" hidden>
            <button class="ui huge green button " type="submit" style="margin:10px 0px auto">
                         Chat
            </button>
    
    </form>
</div>

<div>
   <form action="/viodecall" method="POST">
       
       <input name="clickeduser" value="<%=userclicked.id%>" hidden>
           
    
    </form>
            </div>
            </div>
            <% } %>
  </div>

        


</div>

  <div class=" ten wide column">
             
           
             
               <%userclicked.image.forEach(function(photos){%>
              
               <%if(photos.includes("myImage")){%>
                          
                                 <svg width="400" height="300">
                                <image xlink:href="/uploads/<%=photos%>"  width="100%" height="100%"></image>
                                </svg>
                             
             <% } } );%>

             
             
             
         </div>
</div>
    
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

        
<script>
var count = 0; // needed for safari
window.onload = function () { 
    if (typeof history.pushState === "function") { 
        history.pushState("back", null, null);          
        window.onpopstate = function () { 
            history.pushState('back', null, null);              
             if(count == 1){window.location = '/userprofiles';}
            console.log('back')
         }; 
     }
 }  
setTimeout(function(){count = 1;},200);

</script>
<% include partials/footer1 %>
</body>

</html>
