<% include partials/header2%>


<div>

    
    <header class="jumbotron">
        <div class="ui container grid">
    <div class="ten wide row">      
    <h1>Welcome <span><%=currentuser.name%></span></h1>
     <div class="container" style="margin:10px 10px 10px 20px">
      <div>
        <% if(currentuser.isPremium){ %>
          <div class="ui container medium header red ">
             <h2>
             
              </h2> 
          </div>
            
        <% } %>
        <% if(!currentuser.isPremium){ %>
          <div class="ui container">
               <a class="ui huge inverted red button" href="/payment" >
             
             Upgrade to Premium
             </a>
          </div>
        <% } %>
      
    </div>
       <div>
        <% if(currentuser.isGroomed){ %>
          <div class="ui container medium header red ">
              
              <!--Congrats you received training!!!-->
              
          </div>
            
        <% } %>
        <% if(!currentuser.isGroomed){ %>
          <div class="ui container">
             <a class="ui huge inverted green button" href="/groom" style="margin:10px 10px 10px 20px">Get Groomed!</a>
          </div>
        <% } %>
      
    </div>
            
        
     </div>      
    
     </div>
     </div> 
     <div class="ui container six wide row">
       <div  style="margin:50px 50px 10px 20px">
          <span class="ui medium header">
            Filter by:
          </span>
        <form action="/userprofiles/search" method="POST">
         
         
            <select class="ui form-group dropdown" name="gender" placeholder="gender" type="text">
              <option value="default">Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
                      <option value="Transgender">Post-Op Trans</option>
               <option value="Transgender">Pre-Op Trans</option>
            </select>
     
  
     
            <select class="ui form-group dropdown" name="ethnicity" placeholder="ethnicity" type="text">
              <option value="default">Ethnicity</option>
              <option value="Asian">Asian</option>
              <option value="Hispanic">Hispanic</option>
               <option value="Latina">Latina</option>
              <option value="Black">Black</option>
            </select>
     
          
            <select class="ui form-group dropdown" name="age" placeholder="age" type="text">
              <option value="default">Age</option>
              <option value=21>Below 21</option>
              <option value=30>Below 30</option>
               <option value=35>Below 35</option>
              <option value=40>Below 40</option>
            </select>
               <select class="ui form-group dropdown" name="height" placeholder="height" type="text">
              <option value="default">Height</option>
              <option value=160>Above 160cm</option>
              <option value=165>Above 165cm</option>
               <option value=170>Above 170cm</option>
              <option value=180>Above 180cm</option>
            </select>
     
        
         <button class="ui huge inverted blue button">Apply/Refresh</button>
         </form>
     </div>
    </header>
</div>
<div  >
  
  <div >
            <div class="ui grid" >
                

         
            
                  
                <%users.forEach(function(user){%>
            
                <%if(currentuser.id!=user.id){ %>
             
               <%if((criteria.gender=="default"||criteria.gender==user.gender)&&(criteria.ethnicity=="default"||criteria.ethnicity==user.ethnicity)&&(criteria.age=="default"||criteria.age>=user.age)&&(criteria.height=="default"||criteria.height<=user.height)){%>
                    <div class="four wide column">
                         <div class="ui card container">
                             <div class="ui medium fluid rounded image">
                                 
                                <svg width="150" height="150">
                                <image xlink:href="/uploads/<%=user.image[0]%>"  width="100%" height="100%"></image>
                                </svg>
                                <div class="ui huge header">
                                    Age: <span><%=user.age%></span> 
                                    <div>
                                    Ethnicity: <span><%=user.ethnicity%></span> 
                                    </div>
                                </div>
                                </div>
                                   <div>
                               
                                <% if(user.isPremium==true){ %>
                               <i class="red star icon "></i>
                                <% } %>
                                 <% if(user.isGroomed==true){ %>
                               <i class="blue star icon "></i>
                                <% } %>
                                    
                                <% if(currentuser.visited.indexOf(user.id) > -1){ %>
                               <i class="green tags icon "></i>
                                <% } %>
                                </div>
                            <div class="ui container">
                            <h3> <%=user.name%> </h3>
                               </div>
                               <div class="ui container">
                             <p>
                                <% if(currentuser.isPremium==true) {%>
                                 <a href="/userprofiles/<%=user.id%>" class="btn btn-primary">Connect</a>
                                 <% } %>
                             </p>  
                             </div>
                        </div>
                         
                         </div>
                            <% } %>
                            
                          <% } %>
          
                
                            
                     <% });%>

                
            </div>
  
  
  
  </div>

</div>


</div>

  
    
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
  var name;
  var age,gender,ethnicity,height;
   $(function (){
          name = JSON.parse($('#test').text());
         
      $.each(name, function(user) {
        console.log(name)
});

   });

        
        function func(){
            
             
    age=$('#age').val()
        gender=$('#gender').val()
         ethnicity=$('#ethnicity').val()
         height=$('#height').val()

     
            
            
        }
           
        function func1(){
            
             
        $('#age').val('default');
                $('#gender').val('default');
                        $('#height').val('default');
                                $('#ethnicity').val('default');
  
    
                 
            func();
            
        }

        
    </script>
    
      <% include partials/footer %>